{% include 'recipes/partials/head.html' %}
{% include 'recipes/partials/header.html' %}


<body>
  
    <div class="search-container">
        <div class="container" >
            <form action="" class="search-form">
                <div class="form-group" >
                    <input type="search" class="search-input" name="search">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i> </button>
               
                </div>
            </form>
        </div>
    </div>




</body>



